*.py[cod]
*$py.class


.venv/
venv/
ENV/
env/
bin/
lib/
include/



data/external/*
data/raw/*
data/processed/*


*.csv
*.xlsx
*.parquet

#  DVC later,only ignore the data, not the .dvc files



mlruns/
mlflow.db


gx/uncommitted/
gx/logs/


.docker/



.env




.DS_Store
Thumbs.db