*.py[cod]
*$py.class


.venv/
venv/
server/
ENV/
env/
bin/
lib/
include/


data/raw/*.csv
data/processed/*.csv

!data/raw/*.dvc
!data/processed/*.dvc



mlruns/
mlflow.db


gx/uncommitted/
gx/logs/


.docker/



.env




.DS_Store
Thumbs.db
